* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #f1f1dd;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    width: 350px;
    height: auto;
    background-color: #2F3E46;
    padding: 1.5rem;
    border-radius: 10px;

  }
  
  form input {
    height: 80px;
    width: 100%;
    background-color: #52796F;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
    outline: none;
    pointer-events: none;
    text-align: right;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  button {
    width: 25%;
    height: 70px;
    font-size: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .btn:active {
    background-color: #b4b4b4;
  }
  .btn-clear {
    background-color: #ffa500;
  }
  .btn-num {
    background-color: #fff;
  }
  .btn-sign {
    background-color: LightGray;
  }
  .btn-equal {
    background-color: #84A98C;
  }
  button:hover{
    filter: brightness(70%);
  }
  